body {
  display: flex;
  justify-content: center;
  align-items: center;
}
h2{
  text-align: center;
  text-transform: capitalize;
}
p{
  text-align: justify;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0px 80px;
}

.grid-item {
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
}
.grid-item h5 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
.grid-item h5.green {
  color: green;
}

.grid-item h5.blue {
  color: blue;
}
